.logo{
margin: 0 auto;
display:block;
}
body {
	font-family: 'Montserrat', sans-serif;
}
main {
	font-size: .9em;
}
nav li {
display: inline;
padding: 8px 10px;
border-radius: 50px;
background-color: #ffffff;
}
nav ul {
	list-style-type: none;
	text-align: center;
	padding: 8px 0;
	margin-top: 0;
	margin:0 auto;
}
nav a {
	text-decoration: none;
	text-transform: uppercase;
}

a:link {
	color: #261109;
}

a:visited {
	color: #261109;
}

a:hover {
	color: #dddddd;
	text-decoration: none;
}

a:active {
	color: black;
}
footer {
background-color: #FFFFFF;
margin-left: 170px;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
font-size: .7em;
font-style: italic;
text-align: center;
}
 #wrapper {
     min-width: 600px;
     max-width:800px;
     margin-left: auto;
     margin-right: auto;
}
.container {
  width: 900px;
  height: 700px;

  margin: 5px;

}
.box {
  display: inline-block;
  vertical-align: top;

  margin: 10px;
}
.content {

}
.text {
	  display: inline-block;
  vertical-align: top;
	   word-break:break-all;
 margin-top: 20px;
font-size: .9em;
    padding: 3px 10px 3px 0;
  color: #3F3F3F;
}
/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
h1{
font-size: 1.8em;
}
}
/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
h1{
font-size: 1.5em;
}
}
.mobile{
display:none;
}
@media only screen and (max-width: 400px) {
.desktop{
display:none;
}
.mobile{
display:block;
}
}
